.contenedor-lista-carrito{
  margin-top: 4rem;  
  overflow: visible;
  
}
table{
    width: 100%;  
    border-collapse: collapse;
}
.tabla-carrito thead th{
    background-color: rgb(2, 62, 55);
    padding: 1rem;
    border-bottom: solid 5px #0F362D;
    color: white;   
}
.tabla-carrito tbody td{   
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
     
}
.tabla-carrito tr{
     border-bottom: solid 1px gray;      
}
.tabla-carrito tr:nth-child(even){
    background-color:rgba(132, 131, 130, 0.2);
}
tbody td:nth-child(1){
    display: flex;
    align-items: center;
    margin-left: 2rem;
    gap: 2rem;
}
.tabla span{
    font-weight: 900;
    padding:0rem 0.8rem;
}
.tabla tbody td:nth-child(5) img{
   width: 2.3rem;
   cursor: pointer;
}
.input-pagar{    
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
}
.input-pagar_left{
    display: flex;
    margin: 0 0rem 0rem 2rem;
    align-items: center;
    gap: 2.5rem;
}

.input-pagar .input-pagar_left > h3{
       font-size: 2.5rem;
}
.input-pagar_left > h3 > span{
    font-weight: 500;
    margin-left: 0.8rem;
    font-size: 2.5rem;
}

.input-pagar_right{
    grid-column: 3 / span 1;
    align-self: center;
}
.input-pagar input{ 
    margin: 0 2rem 0rem 0rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #06d6a0;
    color: #000000;
    border-radius: 1rem;
    transition: 300ms ease-in-out all;
}
.input-pagar input:hover{
    border: 1px solid  #000000;
    background-color: #CAD2C5;
}
.cantidad-car{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.cantidad-car > span{
    background-color: #E0DEDF;
    min-width: 3.8rem;
    border-radius: 0.5rem;
    padding: 0.4rem 0;
}
.cantidad-car > img:nth-child(1){
    background-color: #C3C3C1;
    border-radius: 50%;
    cursor: pointer;
    
}
.cantidad-car > img:nth-child(3){
    background-color: #211836;
    border-radius: 50%;
    cursor: pointer;
}
.titulo-car{
    display: flex;
    justify-content: center;
}
.titulo-car > h3{
   font-weight: 700;
}
