.contenido-tablaingresos-productos{
    margin-bottom: 5rem;  
}
.contenido-tablaingresos-productos h3{
   text-align: center;
   color: rgb(255, 187, 0);
   -webkit-text-stroke: 0.5px rgb(80, 79, 79);
   text-transform: uppercase;  
}

table{ 
    width: 100%;  
}
.tabla-ingresos-productos thead th{
    background-color: rgb(2, 62, 55);
    padding: 1rem;
    border-bottom: solid 5px #0F362D;
    color: white;  
}
.tabla-ingresos-productos tbody td{   
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
     
}
.tabla-ingresos-productos tr{
     border-bottom: solid 1px gray;      
}
.tabla-ingresos-productos tr:nth-child(even){
    background-color:rgba(132, 131, 130, 0.2);
}
.total-ingresos{
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;    
}
.total-ingresos p{
    font-size: 2rem;
    font-weight: 700;
}
.total-ingresos span{
    font-size: 2rem;
    font-weight: normal;
}
.input-nuevoingreso-productos{    
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
   
}
.input-nuevoingreso-productos input:nth-child(1){
    background-image: url("../../img/search.png");
    background-repeat: no-repeat;
    background-position:initial center;
    background-size: 3.3rem;
    padding: 0 0 0 3.5rem;
    border-radius: 1rem;
    border: none;
    width: 25rem;
    outline:none;
}
.input-nuevoingreso-productos select{
    width: 20rem;
    margin-left: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;
    border: none;
    width: 25rem;
    outline:none;
    padding: 0 2rem;
}

.input-nuevoingreso-productos input:nth-child(3){
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: rgb(190, 187, 1);
    color: white;
    border-radius: 1rem;
    transition-duration: .5s;
    margin-left: 15rem;
}
.input-nuevoingreso-productos input:nth-child(3):hover
{
    transform: scale(1.1 ,1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 }
.tabla-ingresos-productos .contenedor-elementos-cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 5.25rem;
}
.tabla-ingresos-productos .contenedor-elementos-cantidad button{
    width: min-content;
    height:min-content;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}  
.tabla-ingresos-productos .contenedor-elementos-cantidad button img{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background-color: transparent;
}  
.tabla-ingresos-productos .contenedor-elementos-cantidad button img:hover{
    transform: scale(1.1 ,1.1);
    background-color: rgba(145, 145, 145, 0.25);
}
.tabla-ingresos-productos .contenedor-elementos-cantidad button img:hover:active{
    background-color: transparent;
}

 .tabla-ingresos-productos img{
    width: 2rem;
    margin-left: 2rem;
    cursor: pointer;
    transition-duration: .3s;
 }
 .tabla-ingresos-productos img:hover{
    transform: scale(1.2,1.2);
    transition-duration: .3s;
 }
 .accion{/*clase para las distintas tablas de manera global*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 .accion button{/*clase para las distintas tablas de manera global*/
    padding:0;
    background-color: transparent;
    border: none;
 }
 .accion button img{/*clase para las distintas tablas de manera global*/
    margin: 0;
 }
 .tabla{   
    overflow-y: auto;
    height: 68rem; 
}
@media(max-width: 1600px){
    .tabla{
        overflow-y: auto;
        height: 38rem; 
    }
}



