.contenido-tablaingresos{
    margin-bottom: 5rem;   
   
}
.contenido-tablaingresos h3{
   text-align: center;
   color: rgb(255, 187, 0);
   -webkit-text-stroke: 0.5px rgb(80, 79, 79);
   text-transform: uppercase;  
}

table{
    width: 100%;  
    border-collapse: collapse;
    overflow: scroll;
}
.tabla-ingresos thead th{
    background-color: rgb(2, 62, 55);
    padding: 1rem;
    border-bottom: solid 5px #0F362D;
    color: white;
   
}
.tabla-ingresos tbody td{   
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
     
}
.tabla-ingresos tr{
     border-bottom: solid 1px gray;      
}
.tabla-ingresos tr:nth-child(even){
    background-color:rgba(132, 131, 130, 0.2);
}
.total-ingresos{
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;    
}
.total-ingresos p{
    font-size: 2rem;
    font-weight: 700;
}
.total-ingresos span{
    font-size: 2rem;
    font-weight: normal;
}
.input-nuevoingreso{    
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}
.input-nuevoingreso input{
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: rgb(190, 187, 1);
    color: white;
    border-radius: 1rem;
    transition-duration: .5s;
}
.input-nuevoingreso input:hover{
    transform: scale(1.1 ,1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 }
 .tabla-ingresos img{
    width: 2rem;
    margin-left: 2rem;
    cursor: pointer;
    transition-duration: .3s;
 }
 .tabla-ingresos img:hover{
    transform: scale(1.2,1.2);
    transition-duration: .3s;
 }

