 @media (max-width: 1024px){
.contenedor-pago_contenido{
    row-gap: 2rem;
}
.contenedor-pago_contenido-right{
    grid-area: 3 / 2 / span 1 / span 1;
    margin: 0 0 4rem;
    justify-self: center;
    grid-template-columns: auto;
    width: 100%;
}
.datos-resumen_input{
    height: 4.6rem;
    width: 28.8rem;
    justify-self: center;
}
}