
.contenedor-pago_contenido
{
    grid-area: 2 / 2 / span 3 / span 1;
    display: grid;
    grid-template-columns: auto minmax(auto,70.869rem) auto;
    grid-template-rows:  auto;
    column-gap: 1rem;
    margin: 4rem 0 4rem;
}
.contenedor-pago_contenido-2{
    grid-area: 1 / 2 / span 2 / span 1;
    background-color: #FAFAFA;
    border-radius: 1rem;
    height: min-content;
}
.datos-personales{
    grid-area: 1 / 2 / span 1 / span 1;
    
    border-start-start-radius: 1rem;
    border-start-end-radius: 1rem;
    
}

.datos-personales_formulario{
    height:100%;
    width: 100%;
    padding: 1rem 2rem 0;
}
.datos-personales_title,
.datos-entrega_title,
.datos-resumen_title{
    margin: 0;
    font-size: 2.2rem;
    font-weight: 900;
    padding: 0.4rem 0.8rem 0;
    color: #588157;
  }
.datos-personales_tabla{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    padding: 1rem 1rem 0;
}
.datos-personales_tabla_parrafo{
    font-size: 1.4rem;
    margin: 0 0 1.3rem;
    grid-area: 1 / 1 / span 1 / span 2;
}

.direccion
{  /*propiedad para todos los secciones*/
    display: flex;
    flex-direction: column;
}

.datos-personales_tabla_email{
    grid-area: 2 / 1 / span 1 / span 2;
}

.datos-personales_tabla label,
.datos-entrega_tabla label
{  /*propiedad para todos lo label*/
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.contenedor-pago_contenido input,
.contenedor-pago_contenido select
{ /*propiedad para todos los input*/
    border-radius: 0.8rem;
    height: 4.5rem;
    padding: 0.4rem 2rem;
    margin-bottom: 1.6rem;
    border: 1px solid #1a4ea2;
    background-color: #fff;
}

.datos-personales_tabla_Nombre,
.datos-personales_tabla_cc,
.datos-entrega_tabla_departamento{
    padding-right: 0.8rem;
}
.datos-personales_tabla_Apellidos,
.datos-personales_tabla_movil,
.datos-entrega_tabla_municipio{
    padding-left: 0.8rem;
}

.datos-resumen{
    height: 700px;
}









