.contenedor-registro-producto{
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.formulario-registro-producto{
    background-color: #cad2c5;
    width: 80rem;
    max-width: 95%;
    margin: auto;
    padding: 2rem 4rem;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;   
    position: relative;
}
.formulario-registro-producto .cerrar{
    position: absolute;
    right: 4rem;
    cursor: pointer; 
    transition: 400ms ease-in-out all;   
}
.formulario-registro-producto .cerrar:hover{
    transform: scale(1.2,1.2);   
}
.formulario-registro-producto h2{
    text-align: center;
    margin-top: 0;
}
.formulario-registro-producto label{
    font-size: 1.8rem; 
    margin-bottom: 0.3rem;    
}.formulario-registro-producto input{   
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1.3rem;    
}
.formulario-registro-producto input:last-child{
    background-color: #354f52;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2rem;
    cursor: pointer;
    margin: 2rem 0;
    transition: 400ms ease-in-out all;
}
.formulario-registro-producto input:last-child:hover{
    background-color: #cad2c5;
    color: #354f52;
    text-transform: uppercase;
    font-weight: 700;
    border: solid 1px #354f52;
    transform: scale(1.0,1,1.0,1);    
}
.formulario-registro-producto textarea{
    border-radius: 1rem;
    border: none;
    resize: none;
    height: 8rem; 
    margin-bottom: 1.3rem;      
}