.contenedor-productos{
    width: 95%;
    max-width: 110rem;
    margin: auto;
    padding: 1rem 3rem; 
       
}
.contenedor-productos h3{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
}
.contenido-productos{
    display: grid;
    grid-template-columns: 1fr;
   
}
@media(min-width: 480px){
    .contenido-productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 768px){
    .contenido-productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 980px){
    .contenido-productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

