
.contenedor-head{
    width: 100%;
    height: 8rem;
    padding: 1rem 0;
    position: fixed;
    z-index: 10;
    background-color: #354f52; 
    display: flex;
    align-content: center;
}
.contenido-head{
    width: 95%;
    margin: -0.5rem auto;
    gap: 3rem; 
    display: flex;
    flex-direction: column;
    gap: 1rem;       
}
.datos-head{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: 1.4rem;
    margin-left: 3rem;
}
.datos-head img{
    width: 3rem;
    height: 3rem;    
}
.buscar-head{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}
.buscar-head input{
    padding: 0 1rem;
    outline: none;
    padding: 0.3rem;
    width: 35rem;
    border-radius: 0.5rem;
    border: none;
}
.buscar-head ::placeholder{
    background-image: url(../../img/search.png);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: right center;       
}
.carrito-ingresar{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    transform: translateY(-8rem);  
    position: relative;
}
.carrito-ingresar img, .admin{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    padding: .2rem; 
    cursor: pointer;   
}
.admin{
    background-color: rgb(158, 155, 155);
}
@media (min-width: 769px){
    .contenido-head{
        width: 95%;
        margin: -0.5rem auto;
        display: grid;
        grid-template-columns: 35% 25% 35%;
        gap: 3rem;    
    }
    .datos-head{      
        justify-content: start;   
    }
    .carrito-ingresar{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 3rem;
        transform: translateY(0);       
    }
    .datos-head{
        display: flex;
        justify-content: center;       
    }
}
.cantidad{
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0.3rem;
    width: 2.1rem;
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: absolute;
    transform: translateX(-4.5rem);
    bottom: 0;
}
