
body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    background-color:  #cad2c5;

}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none;
}

