<<<<<<< HEAD
body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    background-color: var(--gris-claro);
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
=======
/* prueba numero 1 */
>>>>>>> 5b5d40d6c0f43c97a7669f1de6bc13f6749ae401
